:root {
    --h-padding: 250px;
}

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - calc(var(--h-padding) * 2));
    padding: 15px var(--h-padding);
    background: #edefee;
}

header img {
    height: 50px;
}

a {
    font-weight: 600;
    color: #333;
    transition: color 200ms;
}

footer a {
    font-weight: 500;
}

a:hover {
    color: #f4ce14;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

nav ul #image {
    display: none;
    margin-bottom: 15px;
}

#overlay {
    display: none;
    top: -15px;
    right: 0;
    position: absolute;
    z-index: 999;
    width: 100vw;
    height: calc(100vh + 15px);
    background: #000;
    opacity: 0;
}

#mobile-menu {
    display: none !important;
    cursor: pointer;

    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#mobile-menu svg {
    font-size: 25px;
}

main {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#call-to-action {
    width: calc(100% - calc(var(--h-padding) * 2));
    padding: 20px var(--h-padding);
    background: #495e57;
    position: relative;
    margin-bottom: 10%;
    height: 230px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center
}

#call-to-action #text {
    width: 40%;
}

#call-to-action #text h1 {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 35px;
    margin: 0;
    color: #f4ce14;
}

#call-to-action #text h3 {
    margin: 0;
    font-family: 'Merriweather';
    font-weight: 400;
    color: #fff;
    margin-bottom: 15px;
    font-size: 21px;
}

#call-to-action #text p {
    margin: 0;
    color: #fff;
    margin-bottom: 15px;
    font-size: 18px;
}

button:not(#specials article button), input[type="submit"] {
    color: #000;
    background: #f4ce14;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: background 300ms;
}

button:not(#specials article button):hover, input[type="submit"]:hover {
    background: #bda113;
}

#call-to-action #image {
    width: 300px;
    height: 125%;
    border-radius: 20px;
    position: absolute;
    right: var(--h-padding);
    top: 15%;

    background-image: url('../assets/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#specials {
    width: calc(100% - calc(var(--h-padding) * 2));
    padding: 0 var(--h-padding);
}

#specials #top {
    width: 100%;
    display: flex;
    flex-flow:  row nowrap;
    justify-content: space-between;
}

#specials #top h1 {
    font-family: 'Merriweather';
    margin: 0;
}

#specials #items {
    margin-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 50px;
    gap: 30px;
}

#specials #items article {
    width: calc(100% - 30px);
    padding: 0 15px;
    background: #edefee;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#specials #items article p {
    color: #495e57;
    width: 100%;
    margin-bottom: 50px;
}

#specials #items article h2:first-of-type {
    font-size: 20px;
    font-family: 'Merriweather';
}

#specials #items article h2:nth-of-type(2) {
    font-size: 20px;
    color: #EE9972;
}

#specials #items article #image {
    width: calc(100% + 30px);
    height: 150px;
    margin-left: -15px;
    margin-right: -15px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#specials article button {
    margin-bottom: 30px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #495e57;
    transition: background 300ms, color 300ms;
}

#specials article button:hover {
    background: #495e57;
    color: #fff;
}

#specials article button:hover p {
    color: #fff !important;
}

#specials article button:hover svg {
    color: #fff !important;
}

#specials article button div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

#specials article button div svg {
    color: #495e57;
    transition: color 300ms;
    font-size: 24px;
}

#specials article button div p {
    transition: color 300ms;
    margin: 0 !important;
    font-weight: 600;
}

#customers-say {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: #d9d9d9;
    padding-bottom: 50px;

    margin-bottom: 50px;
}

#customers-say h1 {
    font-size: 30px;
    font-family: 'Merriweather';
}

#customers-say #items {
    width: calc(100% - calc(var(--h-padding) * 2));
    padding: 0 var(--h-padding);

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#customers-say #items article {
    padding: 20px 20px;
    background: #fff;
    border-radius: 5px;
}

#customers-say #items article #stars {
    white-space: nowrap;
    overflow: hidden;
}

#customers-say #items article #stars svg {
    font-size: 16px;
    width: 16px;
    color: #f4ce14;
}

#customers-say #items article #person {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 15px;
}

#customers-say #items article #person #image {
    width: 60px;
    height: 60px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#chicago {
    width: calc(100% - calc(var(--h-padding) * 2));
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 155px;
}

#chicago #text {
    width: calc(100% - 500px);
}

#chicago #text h1 {
    font-family: 'Merriweather';
    font-size: 45px;
    color: #f4ce14;
    font-weight: 700;
    margin-bottom: 0;
}

#chicago #text h2 {
    margin: 0;
    color: #495e57;
    font-family: 'Merriweather';
}

#chicago #text p {
    font-size: 20px;
    color: #495e57;
}

#chicago #images {
    position: relative;
}

#chicago #images .image {
    width: 250px;
    height: 350px;
    border-radius: 10px;

    background-image: url('https://shahandfahad.github.io//Little-Lemon/static/media/MarioandAdrianA.7f44c6d6e341a27d14b3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#chicago #images .image:last-of-type {
    position: absolute;
    background-image: url('https://shahandfahad.github.io//Little-Lemon/static/media/restaurantChefB.4b4c2d26b514db32e8fc.jpg');
    top: 30%;
    right: 70%;
}

footer {
    width: calc(100% - calc(var(--h-padding) * 2));
    padding: 40px var(--h-padding);
    background: #edefee;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 20px;
}

footer #image {
    width: 250px;
    height: 350px;
    border-radius: 10px;

    background-image: url('https://shahandfahad.github.io/Little-Lemon/static/media/restaurant.324d0f99bdf19400a0f7.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer .list h3 {
    margin-left: 0;
    margin-bottom: 15px;
    color: #495e57;
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 23px;
}

footer .list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer .list ul li {
    font-size: 20px;
    margin-bottom: 7px;
    color: #333;
    font-weight: 500;
}

#booking-page {
    height: 600px;
    width: 100%;
}

#form-wrapper {
    height: 100%;
    width: calc(100% - 50px);
    padding: 50px 0;

    padding-right: 50px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

#form-wrapper form {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#form-wrapper #visuals {
    width: 50%;
    height: 100%;
    background: #495e57;
    padding: 50px 0;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#form-wrapper #visuals #image {
    width: 60%;
    height: 80%;
    border-radius: 15px;

    background-image: url('https://shahandfahad.github.io//Little-Lemon/static/media/MarioandAdrianA.7f44c6d6e341a27d14b3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#form-wrapper #visuals h1 {
    width: 60%;
    font-family: 'Merriweather';
    color: #f4ce14;
    font-size: 30px;
    margin: 0;
    margin-bottom: 15px;
}

#form-wrapper #visuals h3 {
    width: 60%;
    color: #fff;
    font-weight: 500;
    font-size: 19px;
}

#form-wrapper form label {
    width: 60%;
    font-size: 20px;
    margin-bottom: 5px;
}

#form-wrapper form input, #form-wrapper form .select-wrapper {
    border-radius: 10px;
    width: 60%;
    outline:  none !important;
    border: solid 1px #333;
    background: #fff;
    height: 50px;
    margin-bottom: 20px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#form-wrapper form select {
    height: 100%;
    width: calc(100% - 20px);
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    outline:  none !important;
    font-size: 17px;
}

#form-wrapper form input {
    width: calc(60% - 30px);
    padding: 0 15px;
    font-size: 17px;
}

#form-wrapper form input[type="submit"] {
    width: calc(60% + 5px);
    border: none;
    justify-content: center;
    font-family: 'Merriweather';
    background: #f4ce14;
}

#form-wrapper form input[type="submit"]:hover {
    background: #bda113;
}

#form-wrapper #form-success {
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 20px;
}

#form-wrapper #form-success img {
    width: 50%;
}

#form-wrapper #form-success h1 {
    color: #008000;
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 40px;
}

@media only screen and (max-width: 1230px) {
    :root {
        --h-padding: 100px;
    }

    #specials {
        margin-top: 6%;
    }
}

@media only screen and (max-width: 1000px) {
    #chicago {
        flex-flow: column nowrap;
        align-items: center;
    }

    #chicago #text {
        width: 100%;
        text-align: center;
    }

    #chicago #text h1 {
        margin-top: 0 !important;
    }

    #chicago #images {
        margin-top: 40px;
        margin-left: 162.5px;
    }
}

@media only screen and (max-width: 920px) {
    :root {
        --h-padding: 40px;
    }

    #booking-page {
        height: auto !important;
    }

    #booking-page #form-wrapper {
        padding-top: 0 !important;
        width: 100%;
        padding-right: 0 !important;
        flex-flow: column nowrap !important;
    }

    #booking-page #form-wrapper #visuals {
        width: 100% !important;
        margin-right: 0 !important;
        text-align: center !important;
    }

    #booking-page #form-wrapper #visuals h1, #booking-page #form-wrapper #visuals h3 {
        width: 90%;
    }

    #booking-page #form-wrapper #visuals #image {
        width: 90%;
        height: 300px;
    }

    #booking-page #form-wrapper form {
        width: 100% !important;
    }

    #form-wrapper form label {
        width: 90%;
    }

    #form-wrapper form .select-wrapper {
        width: 90%;
    }
    
    #form-wrapper form input {
        width: calc(90% - 30px);
    }
    
    #form-wrapper form input[type="submit"] {
        width: calc(90% + 5px);
    }
}

@media only screen and (max-width: 830px) {
    #specials #items {
        flex-wrap: wrap;
        justify-content: center;
    }

    #specials #items article {
        width: 280px !important;
    }
}

@media only screen and (max-width: 760px) {
    :root {
        --h-padding: 30px;
    }

    #overlay.seen {
        display: block;
    }

    nav ul {
        padding-top: 50px;
        display: none;
        position: absolute;
        right: calc(-40px - 60vw);
        top: -15px;
        height: calc(100vh - 50px);
        width: 60vw;
        z-index: 999;
        background: #fff;
        transition: right 400ms;

        flex-flow: column nowrap;
    }

    nav ul.seen {
        display: flex !important;
    }

    nav ul.active {
        right: 0 !important;
    }

    nav ul #image {
        display: block;
    }

    nav ul li {
        font-size: 20px;
    }

    #mobile-menu {
        display: flex !important;
    }

    #call-to-action {
        flex-flow: column nowrap !important;
        text-align: center !important;
    }

    #call-to-action #text {
        margin-top: 10px;
        width: 100%;
    }

    #call-to-action #image {
        display: none !important;
    }

    #specials #top {
        align-items: center !important;
    }

    #specials h1 {
        font-size: 21px !important;
    }

    #specials #items article {
        width: 100% !important;
    }

    #customers-say {
        width: 100% !important;
    }

    #customers-say #items {
        flex-flow: column nowrap !important;
    }

    footer {
        flex-wrap: wrap;
    }

    footer #image {
        width: 100%;
        height: 100px;
    }

    footer .list {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    footer .list h3 {
        font-size: 20px !important;
    }

    footer .list li {
        font-size: 18px !important;
    }
}