@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500&family=Merriweather:wght@300;400;700&display=swap');

::-webkit-scrollbar {
  height: 10px;
  width: 10px
}

::-webkit-scrollbar-track {
  background: #292a2d
}

::-webkit-scrollbar-thumb {
  background: #f4ce14;
  border-radius: 5px
}

::-webkit-scrollbar-thumb:hover {
  background: #f4ce14
}

body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  
  font-family: 'Karla'
}

button {
  font-family: 'Karla'
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}